<h1> Ayuda </h1>

<p>
El quiz es una red social para crear adivinanzas y responderlas.
El portal web funciona mediante un registro previo a partir del cual se puede empezar a desarrollar la actividad del portal.
</p>
